<ion-header>

  <ion-navbar  color="icbf">
    <ion-title>PERFIL</ion-title>
  </ion-navbar>

</ion-header>


<ion-content padding>

  <ion-list *ngFor="let personInfo of peopleInfo">

    <ion-item>
      <ion-thumbnail item-start>
        <img src="assets/imgs/noPhoto.png">
      </ion-thumbnail>
      <h2>{{ personInfo.person.Name }}</h2>
      <p>{{ personInfo.person.DocumentType }} : {{ personInfo.person.DocumentId }}</p>
      <p>Fecha Registro: {{ personInfo.person.CreatedAt }}</p>
      <p>Dispositivo Registro: {{ personInfo.person.DeviceId }}</p>
      <div *ngFor="let day of peopleInfo.assistance">
        <h3>Asistió: {{ day.Date }}</h3>
      </div>
    </ion-item>

  </ion-list>

  <ion-fab right bottom>
    <button ion-fab color="primary" (click)="goHome()">
      <ion-icon name="ios-home"></ion-icon>
    </button>
  </ion-fab>

</ion-content>
