page-home {
  ion-content{
    background : -moz-linear-gradient(50% 0% -90deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
    background : -webkit-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
    background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
    background : -o-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
    background : -ms-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
    -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
    background : linear-gradient(180deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
    filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=0);
  }
}

.body_home{
  position: absolute;
  top: 0;
  left: 0;
  //background-image: url("../../assets/images/home/Decorativos_2.png");
  background-image: url("../assets/images/home/Decorativos_2.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 100vw;
  height: 100vh;
}

.img_girl_bottom {
  position: absolute;
  width: 45vw;
  height:  24vh;
  //background-image: url("../../assets/images/home/Nina_Inferior.png");
  background-image: url("../assets/images/home/Nina_Inferior.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  left: 28vw;
  bottom: 0;
}

.logo_icbf {
  position: relative;
  //background-image: url("../../assets/images/home/Logo_ICBF.png");
  background-image: url("../assets/images/home/Logo_ICBF.png");
  background-size: 100% 100%;
  background-repeat: no-repeat;
  background-position: center center;
  width: 14vmax;
  height: 18vmax;
  margin-top: 5%;
  margin-left: 5%;
}

.boton_enrolar {
  height: 9vh;
  width: 90%;
  margin-left: 5%;
  margin-top: 16vh;
	border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;

  //background-image: url("../../assets/images/home/Icono_Nino.png");
  background-image: url("../assets/images/home/Icono_Nino.png");
  background-size: 7% 60%;
  background-repeat: no-repeat;
  background-position: 5% center;

  border: 0px solid #000000;
  padding-left: 16vw;

  box-shadow: 3px 3px 20px 0;
  color: gray;
  background-color: white;

  font-size: 4vw;
  font-weight: bold;
  text-align: left;

  text-transform: none;
}

.boton_asistencia {
  height: 9vh;
  width: 90%;
  margin-left: 5%;
  margin-top: 3vh;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;

  //background-image: url("../../assets/images/home/Icono_Registrar.png");
  background-image: url("../assets/images/home/Icono_Registrar.png");
  background-size: 7% 60%;
  background-repeat: no-repeat;
  background-position: 5% center;

  border: 0px solid #000000;
  padding-left: 16vw;

  box-shadow: 3px 3px 20px 0;
  color: gray;
  background-color: white;

  font-size: 4vw;
  font-weight: bold;
  text-align: left;

  text-transform: none;
}

.boton_salir_home{
  height: 9vh;
  width: 60%;
  margin-left: 20%;
  margin-top: 3vh;

  background-color: #258749;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;

  font-size: 4vw;

  text-transform: none;
}

