// http://ionicframework.com/docs/theming/


// App Global Sass
// --------------------------------------------------
// Put style rules here that you want to apply globally. These
// styles are for the entire app and not just one component.
// Additionally, this file can be also used as an entry point
// to import other Sass files to be included in the output CSS.
//
// Shared Sass variables, which can be used to adjust Ionic's
// default Sass variables, belong in "theme/variables.scss".
//
// To declare rules for a specific mode, create a child rule
// for the .md, .ios, or .wp mode classes. The mode class is
// automatically applied to the <body> element in the app.


@charset "utf-8";

.alertCustomErrors {
  // text color for basic alerts
  color: white;

  // alert modal page bg color. Warning this will remove the alert transparency
  // background-color: #258749;

  button {
    color: white !important; // button text color
    font-size: 4vw;
    //background-color: color($colors, secondary, base) !important;
    //button bg color
  }

  .alert-message {
    color: white; // text color for confirm alerts
  }

  .alert-wrapper {

    padding-left: 20vw;

    width: 90vw;
    height: 30vh;

    background-color: #32db64;

    background-image: url("../assets/imgs/Chica_Alerta.png");
    background-size: 30vw 100%;
    background-repeat: no-repeat;
    background-position: left center;

    border-radius: 10px 10px 10px 10px;
    -moz-border-radius: 10px 10px 10px 10px;
    -webkit-border-radius: 10px 10px 10px 10px;
    border: 0px solid #000000;

    font-size: large;
  }
}

.button_link {
  background-color: #E3E1B8;
  padding: 2px 4px;
  font: 13px sans-serif;
  text-decoration: none;
  border: 1px solid #000;
  border-color: #aaa #444 #444 #aaa;
  color: #000
}

.button_lilnk:hover { background-color: #46000D; }

.button-text-none {
  text-transform: none;
}

.Name
{
  background-image : url(Name.png);
  background-repeat : no-repeat;
}
.Boton_Luz
{
  background-image : url(Boton_Luz.png);
  background-repeat : no-repeat;
}
.Sin_Foto
{
  background-image : url(Sin_Foto.png);
  background-repeat : no-repeat;
}
.Boton_Si_1_
{
  background : -moz-linear-gradient(0% 50% 0deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
  background : -o-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  border-radius : 3px;
  -moz-border-radius : 3px;
  -webkit-border-radius : 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=1);
}
.Boton_Si_2_
{
  background : -moz-linear-gradient(0% 50% 0deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
  background : -o-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  border-radius : 3px;
  -moz-border-radius : 3px;
  -webkit-border-radius : 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=1);
}
.Foto_Carlos
{
  background-image : url(Foto_Carlos.png);
  background-repeat : no-repeat;
}
.Foto_Camila
{
  background-image : url(Foto_Camila.png);
  background-repeat : no-repeat;
}
.Boton_No_2_
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(5, 131, 38, 1) 0%,rgba(18, 147, 0, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(5, 131, 38, 1) ),color-stop(1,rgba(18, 147, 0, 1) ));
  background : -o-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#058326', endColorstr='#129300' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  border-radius : 3px;
  -moz-border-radius : 3px;
  -webkit-border-radius : 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#058326',endColorstr='#129300' , GradientType=0);
}
.Boton_Si
{
  background : -moz-linear-gradient(0% 50% 0deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
  background : -o-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  border-radius : 3px;
  -moz-border-radius : 3px;
  -webkit-border-radius : 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=1);
}
.Boton_No_1_
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(5, 131, 38, 1) 0%,rgba(18, 147, 0, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(5, 131, 38, 1) ),color-stop(1,rgba(18, 147, 0, 1) ));
  background : -o-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#058326', endColorstr='#129300' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  border-radius : 3px;
  -moz-border-radius : 3px;
  -webkit-border-radius : 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#058326',endColorstr='#129300' , GradientType=0);
}
.Boton_Jairo
{
  background-image : url(Boton_Jairo.png);
  background-repeat : no-repeat;
}
.Foto_Anderson
{
  background-image : url(Foto_Anderson.png);
  background-repeat : no-repeat;
}
.Boton_Si_4_
{
  background : -moz-linear-gradient(0% 50% 0deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
  background : -o-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  border-radius : 3px;
  -moz-border-radius : 3px;
  -webkit-border-radius : 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=1);
}
.Boton_Si_3_
{
  background : -moz-linear-gradient(0% 50% 0deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
  background : -webkit-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -webkit-gradient(linear,0% 50% ,100% 50% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
  background : -o-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -ms-linear-gradient(0deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
  background : linear-gradient(90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  border-radius : 3px;
  -moz-border-radius : 3px;
  -webkit-border-radius : 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=1);
}
.Foto_Luz
{
  background-image : url(Foto_Luz.png);
  background-repeat : no-repeat;
}
.Boton_No_4_
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(5, 131, 38, 1) 0%,rgba(18, 147, 0, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(5, 131, 38, 1) ),color-stop(1,rgba(18, 147, 0, 1) ));
  background : -o-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#058326', endColorstr='#129300' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  border-radius : 3px;
  -moz-border-radius : 3px;
  -webkit-border-radius : 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#058326',endColorstr='#129300' , GradientType=0);
}
.Boton_No_3_
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(5, 131, 38, 1) 0%,rgba(18, 147, 0, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(5, 131, 38, 1) ),color-stop(1,rgba(18, 147, 0, 1) ));
  background : -o-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#058326', endColorstr='#129300' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  border-radius : 3px;
  -moz-border-radius : 3px;
  -webkit-border-radius : 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#058326',endColorstr='#129300' , GradientType=0);
}
.Foto_Jairo
{
  background-image : url(Foto_Jairo.png);
  background-repeat : no-repeat;
}
.Boton_No
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(5, 131, 38, 1) 0%,rgba(18, 147, 0, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(5, 131, 38, 1) ),color-stop(1,rgba(18, 147, 0, 1) ));
  background : -o-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#058326', endColorstr='#129300' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(5, 131, 38, 1) 0%, rgba(18, 147, 0, 1) 100%);
  border-radius : 3px;
  -moz-border-radius : 3px;
  -webkit-border-radius : 3px;
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#058326',endColorstr='#129300' , GradientType=0);
}
.Boton_Jairo_E
{
  background-image : url(Boton_Jairo_E.png);
  background-repeat : no-repeat;
}
.Boton_Anderson
{
  background-image : url(Boton_Anderson.png);
  background-repeat : no-repeat;
}
.Boton_Camila
{
  background-image : url(Boton_Camila.png);
  background-repeat : no-repeat;
}
.Home_4_
{
  background-image : url(Home_4_.png);
  background-repeat : no-repeat;
}
.Boton_Carlos
{
  background-image : url(Boton_Carlos.png);
  background-repeat : no-repeat;
}
.Back_4_
{
  background-image : url(Back_4_.png);
  background-repeat : no-repeat;
}
.Fondo
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
  background : -o-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=0);
}
.Objeto_9_4_
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Nino_Alerta
{
  background-image : url(Nino_Alerta.png);
  background-repeat : no-repeat;
}
.Objeto_8_4_
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Fondo_Alerta_1_
{
  background-image : url(Fondo_Alerta_1_.png);
  background-repeat : no-repeat;
}
.Linea_No_1_
{
  border-style : Solid;
  border-color : #FFFFFF;
  border-color : rgba(255, 255, 255, 1);
  border-width : 2px;
}
.Home_3_
{
  background-image : url(Home_3_.png);
  background-repeat : no-repeat;
}
.Cancel_3_
{
  background-image : url(Cancel_3_.png);
  background-repeat : no-repeat;
}
.Back_3_
{
  background-image : url(Back_3_.png);
  background-repeat : no-repeat;
}
.Registrar_3_
{
  background-image : url(Registrar_3_.png);
  background-repeat : no-repeat;
}
.Camera_3_
{
  background-image : url(Camera_3_.png);
  background-repeat : no-repeat;
}
.Tipo_Doc_3_
{
  background-image : url(Tipo_Doc_3_.png);
  background-repeat : no-repeat;
}
.Name_3_
{
  background-image : url(Name_3_.png);
  background-repeat : no-repeat;
}
.ID_3_
{
  background-image : url(ID_3_.png);
  background-repeat : no-repeat;
}
.Icon_Salon_3_
{
  background-image : url(Icon_Salon_3_.png);
  background-repeat : no-repeat;
}
.Boton_Salon_3_
{
  background-image : url(Boton_Salon_3_.png);
  background-repeat : no-repeat;
}
.Cancelar_3_
{
  background-image : url(Cancelar_3_.png);
  background-repeat : no-repeat;
}
.Fondo_1_
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
  background : -o-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=0);
}
.Linea_Si
{
  border-style : Solid;
  border-color : #FFFFFF;
  border-color : rgba(255, 255, 255, 1);
  border-width : 2px;
}
.Linea_No
{
  border-style : Solid;
  border-color : #FFFFFF;
  border-color : rgba(255, 255, 255, 1);
  border-width : 2px;
}
.Fondo_Alerta
{
  background-image : url(Fondo_Alerta.png);
  background-repeat : no-repeat;
}
.Home_2_
{
  background-image : url(Home_2_.png);
  background-repeat : no-repeat;
}
.Back_2_
{
  background-image : url(Back_2_.png);
  background-repeat : no-repeat;
}
.Cancel_2_
{
  background-image : url(Cancel_2_.png);
  background-repeat : no-repeat;
}
.Registrar_2_
{
  background-image : url(Registrar_2_.png);
  background-repeat : no-repeat;
}
.Camera_2_
{
  background-image : url(Camera_2_.png);
  background-repeat : no-repeat;
}
.Tipo_Doc_2_
{
  background-image : url(Tipo_Doc_2_.png);
  background-repeat : no-repeat;
}
.ID_2_
{
  background-image : url(ID_2_.png);
  background-repeat : no-repeat;
}
.Name_2_
{
  background-image : url(Name_2_.png);
  background-repeat : no-repeat;
}
.Icon_Salon_2_
{
  background-image : url(Icon_Salon_2_.png);
  background-repeat : no-repeat;
}
.Boton_Salon_2_
{
  background-image : url(Boton_Salon_2_.png);
  background-repeat : no-repeat;
}
.Cancelar_2_
{
  background-image : url(Cancelar_2_.png);
  background-repeat : no-repeat;
}
.Objeto_9_3_
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Objeto_8_3_
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Fondo_2_
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
  background : -o-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=0);
}
.Objeto_9_2_
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Objeto_8_2_
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Chica_Alerta
{
  background-image : url(Chica_Alerta.png);
  background-repeat : no-repeat;
}
.Alerta
{
  background-image : url(Alerta.png);
  background-repeat : no-repeat;
}
.Home_1_
{
  background-image : url(Home_1_.png);
  background-repeat : no-repeat;
}
.Back_1_
{
  background-image : url(Back_1_.png);
  background-repeat : no-repeat;
}
.Cancel_1_
{
  background-image : url(Cancel_1_.png);
  background-repeat : no-repeat;
}
.Registrar_1_
{
  background-image : url(Registrar_1_.png);
  background-repeat : no-repeat;
}
.Camera_1_
{
  background-image : url(Camera_1_.png);
  background-repeat : no-repeat;
}
.Tipo_Doc_1_
{
  background-image : url(Tipo_Doc_1_.png);
  background-repeat : no-repeat;
}
.ID_1_
{
  background-image : url(ID_1_.png);
  background-repeat : no-repeat;
}
.Name_1_
{
  background-image : url(Name_1_.png);
  background-repeat : no-repeat;
}
.Icon_Salon_1_
{
  background-image : url(Icon_Salon_1_.png);
  background-repeat : no-repeat;
}
.Cancelar_1_
{
  background-image : url(Cancelar_1_.png);
  background-repeat : no-repeat;
}
.Fondo_3_
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
  background : -o-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=0);
}
.Boton_Salon_1_
{
  background-image : url(Boton_Salon_1_.png);
  background-repeat : no-repeat;
}
.Back
{
  background-image : url(Back.png);
  background-repeat : no-repeat;
}
.Cancel
{
  background-image : url(Cancel.png);
  background-repeat : no-repeat;
}
.Home
{
  background-image : url(Home.png);
  background-repeat : no-repeat;
}
.Registrar
{
  background-image : url(Registrar.png);
  background-repeat : no-repeat;
}
.Tipo_Doc
{
  background-image : url(Tipo_Doc.png);
  background-repeat : no-repeat;
}
.Foto_Temporal
{
  background-image : url(Foto_Temporal.png);
  background-repeat : no-repeat;
}
.Camera
{
  background-image : url(Camera.png);
  background-repeat : no-repeat;
}
.ID
{
  background-image : url(ID.png);
  background-repeat : no-repeat;
}
.Apellidos_Icon
{
  background-image : url(Apellidos_Icon.png);
  background-repeat : no-repeat;
}
.Boton_Salon
{
  background-image : url(Boton_Salon.png);
  background-repeat : no-repeat;
}
.Boton_Documento
{
  background-image : url(Boton_Documento.png);
  background-repeat : no-repeat;
}
.Boton_Apellidos
{
  background-image : url(Boton_Apellidos.png);
  background-repeat : no-repeat;
}
.Icon_Salon
{
  background-image : url(Icon_Salon.png);
  background-repeat : no-repeat;
}
.Objeto_8_1_
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Boton_Nombres
{
  background-image : url(Boton_Nombres.png);
  background-repeat : no-repeat;
}
.Boton_Registrar
{
  background-image : url(Boton_Registrar.png);
  background-repeat : no-repeat;
}
.Cancelar
{
  background-image : url(Cancelar.png);
  background-repeat : no-repeat;
}
.Objeto_9_1_
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Icono_Registrar
{
  background-image : url(Icono_Registrar.png);
  background-repeat : no-repeat;
}
.Fondo_4_
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
  background : -o-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=0);
}
.Objeto_5
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Icono_Nino
{
  background-image : url(Icono_Nino.png);
  background-repeat : no-repeat;
}
.Objeto_9
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Nina_Inferior
{
  background-image : url(Nina_Inferior.png);
  background-repeat : no-repeat;
}
.Objeto_6
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Objeto_7
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Fondo_5_
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
  background : -o-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=0);
}
.Objeto_8
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Boton_Salir
{
  height: 70px;
  width: 60%;
  margin-left: 20%;
  background-color: #258749;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  color : white;
  background-image : url('../assets/images/home/5_Boton_Salir.png');
  background-repeat : no-repeat;
}
.Boton_Enrolar
{
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
  height: 70px;
  background-image : url('../assets/images/home/8_Boton_Enrolamiento.png');
  background-repeat : no-repeat;
  background-position: center;
}
.Logo_ICBF_1_
{
  background-image : url(Logo_ICBF_1_.png);
  background-repeat : no-repeat;
}
.Nina
{
  background-image : url(Nina.png);
  background-repeat : no-repeat;
}
.Objeto_2
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Objeto_4
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Nino
{
  background-image : url(Nino.png);
  background-repeat : no-repeat;
}
.Objeto_3
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Boton_Ingresar
{
  background: url(../assets/imgStyles/Boton_Ingresar.png) no-repeat center center fixed;
  //background-image : url(../assets/imgStyles/Boton_Ingresar.png);
  background-repeat : no-repeat;
}
.ingresar{
  height: 70px;
  width: 60%;
  margin-left: 20%;
  background-color: #258749;
  border-radius: 10px 10px 10px 10px;
  -moz-border-radius: 10px 10px 10px 10px;
  -webkit-border-radius: 10px 10px 10px 10px;
  border: 0px solid #000000;
}
.Logo_ICBF
{
  background-image : url(../assets/imgStyles/Logo_ICBF.png);
  background-repeat : no-repeat;
}
.Fondo_6_
{
  background : -moz-linear-gradient(50% 0% -90deg,rgba(133, 223, 79, 1) 0%,rgba(86, 187, 81, 1) 100%);
  background : -webkit-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -webkit-gradient(linear,50% 0% ,50% 100% ,color-stop(0,rgba(133, 223, 79, 1) ),color-stop(1,rgba(86, 187, 81, 1) ));
  background : -o-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  background : -ms-linear-gradient(-90deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  -ms-filter: "progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F', endColorstr='#56BB51' ,GradientType=0)";
  background : linear-gradient(180deg, rgba(133, 223, 79, 1) 0%, rgba(86, 187, 81, 1) 100%);
  filter: progid:DXImageTransform.Microsoft.gradient(startColorstr='#85DF4F',endColorstr='#56BB51' , GradientType=0);
}
.Objeto_1
{
  background : #FFFFFF;
  background : rgba(255, 255, 255, 1);
  opacity : 0.3;
  filter: alpha(opacity=30) progid:DXImageTransform.Microsoft.Alpha(opacity=30) ;
}
.Candado
{
  background-image : url(Candado.png);
  background-repeat : no-repeat;
  width: 5%;
}

.Boton_Ingresar_Codigo
{
  background-image : url(../assets/imgStyles/Boton_Ingresar_Codigo.png);
  background-repeat : no-repeat;
}
.NormalCharacterStyle57
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle56
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.Boton_Registrar_Asistencia
{
  background-image : url(../assets/images/home/9_Boton_Registrar_A.png);
  background-repeat : no-repeat;
  background-color : transparent;
  border-radius: 8px;
}
.NormalCharacterStyle55
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle54
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle53
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.Boton_Tipo_Documento
{
  background-image : url(Boton_Tipo_Documento.png);
  background-repeat : no-repeat;
}
.Boton_Take_Picture
{
  background-image : url(Boton_Take_Picture.png);
  background-repeat : no-repeat;
}
.Boton_Desplegar_2
{
  background-image : url(Boton_Desplegar_2.png);
  background-repeat : no-repeat;
}
.Boton_Desplegar_1
{
  background-image : url(Boton_Desplegar_1.png);
  background-repeat : no-repeat;
}
.NormalCharacterStyle52
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle51
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle50
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle49
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle48
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle47
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle46
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle45
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.Boton_Registrar_1_
{
  background-image : url(Boton_Registrar_1_.png);
  background-repeat : no-repeat;
}
.Boton_Apellidos_1_
{
  background-image : url(Boton_Apellidos_1_.png);
  background-repeat : no-repeat;
}
.Boton_Nombres_1_
{
  background-image : url(Boton_Nombres_1_.png);
  background-repeat : no-repeat;
}
.Boton_Documento_1_
{
  background-image : url(Boton_Documento_1_.png);
  background-repeat : no-repeat;
}
.Boton_Tipo_Documento_1_
{
  background-image : url(Boton_Tipo_Documento_1_.png);
  background-repeat : no-repeat;
}
.Boton_Take_Picture_1_
{
  background-image : url(Boton_Take_Picture_1_.png);
  background-repeat : no-repeat;
}
.Boton_Desplegar_2_1_
{
  background-image : url(Boton_Desplegar_2_1_.png);
  background-repeat : no-repeat;
}
.Boton_Desplegar_1_1_
{
  background-image : url(Boton_Desplegar_1_1_.png);
  background-repeat : no-repeat;
}
.NormalCharacterStyle44
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle43
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle42
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.Apellidos_Icon_1_
{
  background-image : url(Apellidos_Icon_1_.png);
  background-repeat : no-repeat;
}
.NormalCharacterStyle41
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle40
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle39
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle38
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.Foto_Temporal_1_
{
  background-image : url(Foto_Temporal_1_.png);
  background-repeat : no-repeat;
}
.NormalCharacterStyle37
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle36
{
  font-family : Asap;
  font-size : 20px;
  line-height : 24.35px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.Boton_Registrar_2_
{
  background-image : url(Boton_Registrar_2_.png);
  background-repeat : no-repeat;
}
.Boton_Apellidos_2_
{
  background-image : url(Boton_Apellidos_2_.png);
  background-repeat : no-repeat;
}
.Boton_Nombres_2_
{
  background-image : url(Boton_Nombres_2_.png);
  background-repeat : no-repeat;
}
.Boton_Documento_2_
{
  background-image : url(Boton_Documento_2_.png);
  background-repeat : no-repeat;
}
.Boton_Tipo_Documento_2_
{
  background-image : url(Boton_Tipo_Documento_2_.png);
  background-repeat : no-repeat;
}
.Boton_Take_Picture_2_
{
  background-image : url(Boton_Take_Picture_2_.png);
  background-repeat : no-repeat;
}
.Boton_Desplegar_2_2_
{
  background-image : url(Boton_Desplegar_2_2_.png);
  background-repeat : no-repeat;
}
.Boton_Desplegar_1_2_
{
  background-image : url(Boton_Desplegar_1_2_.png);
  background-repeat : no-repeat;
}
.NormalCharacterStyle35
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle34
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle33
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.Apellidos_Icon_2_
{
  background-image : url(Apellidos_Icon_2_.png);
  background-repeat : no-repeat;
}
.NormalCharacterStyle32
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle31
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle30
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle29
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.Foto_Temporal_2_
{
  background-image : url(Foto_Temporal_2_.png);
  background-repeat : no-repeat;
}
.NormalCharacterStyle28
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle27
{
  font-family : Asap;
  font-size : 19px;
  letter-spacing : 0.48px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.Boton_Registrar_3_
{
  background-image : url(Boton_Registrar_3_.png);
  background-repeat : no-repeat;
}
.Boton_Apellidos_3_
{
  background-image : url(Boton_Apellidos_3_.png);
  background-repeat : no-repeat;
}
.Boton_Nombres_3_
{
  background-image : url(Boton_Nombres_3_.png);
  background-repeat : no-repeat;
}
.Boton_Documento_3_
{
  background-image : url(Boton_Documento_3_.png);
  background-repeat : no-repeat;
}
.Boton_Tipo_Documento_3_
{
  background-image : url(Boton_Tipo_Documento_3_.png);
  background-repeat : no-repeat;
}
.Boton_Take_Picture_3_
{
  background-image : url(Boton_Take_Picture_3_.png);
  background-repeat : no-repeat;
}
.Boton_Desplegar_2_3_
{
  background-image : url(Boton_Desplegar_2_3_.png);
  background-repeat : no-repeat;
}
.Boton_Desplegar_1_3_
{
  background-image : url(Boton_Desplegar_1_3_.png);
  background-repeat : no-repeat;
}
.NormalCharacterStyle26
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle25
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle24
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.Apellidos_Icon_3_
{
  background-image : url(Apellidos_Icon_3_.png);
  background-repeat : no-repeat;
}
.NormalCharacterStyle23
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle22
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle21
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle20
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.Foto_Temporal_3_
{
  background-image : url(Foto_Temporal_3_.png);
  background-repeat : no-repeat;
}
.NormalCharacterStyle19
{
  font-family : Asap;
  font-size : 27px;
  letter-spacing : 0.68px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle18
{
  font-family : Asap;
  font-size : 19px;
  letter-spacing : -0.47px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle17
{
  font-family : Myriad Pro;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle16
{
  font-family : Asap;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle15
{
  font-family : Asap;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle14
{
  font-family : Myriad Pro;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle13
{
  font-family : Asap;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle12
{
  font-family : Asap;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle11
{
  font-family : Myriad Pro;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle10
{
  font-family : Asap;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle9
{
  font-family : Asap;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle8
{
  font-family : Myriad Pro;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle7
{
  font-family : Asap;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle6
{
  font-family : Asap;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle5
{
  font-family : Myriad Pro;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle4
{
  font-family : Asap;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle3
{
  font-family : Asap;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle2
{
  font-family : Myriad Pro;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #808080;
  color : rgb(128, 128, 128);
}
.NormalCharacterStyle1
{
  font-family : Asap;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
.NormalCharacterStyle
{
  font-family : Asap;
  font-size : 20px;
  line-height : 28px;
  letter-spacing : 0.5px;
  color : #FFFFFF;
  color : rgb(255, 255, 255);
}
